/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    color: white;
}

ul{
    list-style-type: none;
}

/* UTILITY */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
    justify-content: space-between;
}

:root{
    --main-color: white;
    --secondary-color: gray;
    --display: none; 
}

/* css header */

header{
    background-color: black;
    height: calc(100vh - 100px);
    width: 230px;
    color: var(--secondary-color);
}

section#section-top-header,
section#section-bottom-header{
    padding: 1rem;
}

section#section-top-header div#img-full-logo img{
    width: 75%;
}

section#section-top-header div#img-small-logo{
    display: var(--display);
}

section#section-top-header ul{
    margin: 1rem 0;
}

section#section-top-header ul>li{
    padding-bottom: .5rem;
}

section#section-top-header li i{
    width: 12%;
}

section#section-top-header li span.text{
    font-size: .85rem;
}

section#section-top-header li i{
    margin-right: .2rem;
}

section#section-top-header p{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-color);
}

section#section-top-header ul li#made-playlist{
    align-items: center;
}

li#made-playlist span.text{
    margin-left: 1.75rem;
}

div.install span.text{
    padding-left: .5rem;
}

section#section-bottom-header div.separator{
    border: 1px solid var(--secondary-color);
    margin: .5rem 0;
}

div.profile span#user{
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: .5rem;
}

/* css main */

main{
    background-color: red;
    height: calc(100vh - 100px);
    width: calc(100% - 230px);
    overflow-y: auto;
}

section#upgrade{
    background-color: #080b12;
    height: 80px;
}

section#list{
    background-color: green;
    height: 30px;
}

section#container-row{
    padding: 0 1rem;
}

section.row{
    margin-top: 3rem;
}

article.album{
    background-color: cyan;
    height: 200px;
    width: calc((100% / 6) - 1rem);
    margin: 0 1rem 2rem 0;
}


/* css footer */

footer{
    background-color: yellow;
    height: 100px;
    width: 100%;
}


/* RESPONSIVE !!!! */


/* MEDIUM */
@media screen and (max-width: 992px){

    section.row{
        flex-wrap: wrap;
    }

    article.album{
        height: 170px;
        width: calc((100% / 4) - 1rem);
    }

}

/* SMALL */
@media screen and (max-width: 768px){

    article.album{
        height: 150px;
        width: calc((100% / 2) - 1rem);
    }

}

/* X-SMALL */
@media screen and (max-width: 576px){

    header{
        width: 50px;
        text-align: center;
        align-items: center;
        font-size: 1.5rem;
    }

    section#section-top-header div#img-full-logo,
    section#section-top-header li span.text,
    section#section-top-header p,
    section#section-top-header ul li#made-playlist,
    section#section-bottom-header div.separator,
    section#section-bottom-header span.text,
    section#section-bottom-header span#user{
        display: var(--display);
    }
    
    section#section-top-header div#img-small-logo{
        display: inline-block;
        width: 100%;
    }

    main{
        width: calc(100% - 70px);
    }
}