/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

:root{

}

/* css header */

header{
    background-color: black;
    height: calc(100vh - 100px);
    width: 230px;
}

/* css main */

main{
    background-color: red;
    width: calc(100% - 230px);
}

/* css footer */

footer{
    background-color: yellow;
    height: 100px;
    width: 100%;
}


/* RESPONSIVE !!!! */


/* MEDIUM */
@media screen and (max-width: 768px){

}

/* SMALL */
@media screen and (max-width: 768px) and (min-width: 576px){
    
}

/* X-SMALL */
@media screen and (max-width: 576px){

    header{
        width: 70px;
    }

    main{
        width: calc(100% - 70px);
    }
}